<h2><%= t(:treeview, :default => 'Treeview') %> <%= t('app.models.setting.bs_caption', :default => 'setting') %></h2>

<%
namespace_for_url = ""
plural_model_name = "settings"
model_name        = "setting"
opened_node       = Setting.select(:id).all.map{ |g| "'treeelt_" + g.id.to_s + "'" }.join(',').html_safe
%>

<div id="treeview" data-model="<%= model_name %>" data-url="/<%= namespace_for_url %><%= plural_model_name %>/" data-opened="[<%= opened_node %>]">
  <ul>
    <% Setting.transaction do %>
    <% ar = Setting.where(:setting_id => nil) %>
    <% ar = ar.order("position") if Setting.column_names.include?("position") %>
      <% for g in ar.all %>
        <%= build_treeview(g, 'settings') %>
      <% end %>
    <% end %>
  </ul>
</div>

