<%= form_for(@locationtype) do |f| %>
  <% if @locationtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@locationtype.errors.count, "error") %> prohibited this locationtype from being saved:</h2>

      <ul>
      <% @locationtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :icon_id %><br>
    <%= f.number_field :icon_id %>
  </div>
  <div class="field">
    <%= f.label :icon_url %><br>
    <%= f.text_field :icon_url %>
  </div>
  <div class="field">
    <%= f.label :insideR %><br>
    <%= f.text_field :insideR %>
  </div>
  <div class="field">
    <%= f.label :nearR %><br>
    <%= f.text_field :nearR %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
